.root {
  background-color: transparent;
  font-family: "PoppinsBold";
  border: 1px solid;
  border-radius: 99999px;
  text-shadow: 0 clamp(0.1rem, 0.2dvh, 2rem) clamp(0.1rem, 0.2dvh, 2rem)
    rgba(0, 0, 0, 0.25);
  width: clamp(1rem, 7dvw, 10rem);
  height: fit-content;
  line-height: 2.3;
}

.darkMode {
  border-color: #fafafa;
  color: inherit;
}

.lightMode {
  border-color: #2c2c2c;
  color: inherit;
}

.root:hover {
  cursor: pointer;
}

.darkMode:hover {
  border-color: transparent;
  background-color: #fafafa;
  color: #2c2c2c;
}

.lightMode:hover {
  border-color: transparent;
  background-color: #2c2c2c;
  color: #fafafa;
}
