.root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: clamp(0.2rem, 10dvh, 10rem);
  padding-bottom: clamp(0.1rem, 10dvh, 10rem);
}

.navButtons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: clamp(0.2rem, 1.5dvh, 10rem);
}

a {
  text-decoration: none;
  color: inherit;
}

.label {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: clamp(0.1rem, 6dvw, 10rem);
}
