.root {
  stroke: none;
  stroke-linecap: round;
  color: #fafafa;
}

.size1 {
  width: clamp(17rem, 25dvw, 50rem);
  height: auto;
}

.size2 {
  width: clamp(20rem, 35dvw, 50rem);
  height: auto;
}

.darkMode line {
  stroke: #fafafa;
}

.lightMode line {
  stroke: #2c2c2c;
}

.cell {
  cursor: pointer;
}

.mark {
  opacity: var(--mark-opacity, 0);
  transform-origin: center;
  transform-box: fill-box;
  animation: popIn 0.1s ease-out forwards;
  transition: opacity 0.5s ease;
}

.winningMark {
  animation: winScaling 0.8s linear 0.5s 1 forwards;
}

@keyframes popIn {
  0% {
    transform: scale(0.4);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes winScaling {
  0%,
  50%,
  100% {
    transform: scale(1);
  }
  25%,
  75% {
    transform: scale(1.3);
  }
}

.X {
  fill: #e53935;
}

.O {
  fill: #1e88e5;
}

.X,
.O {
  font-family: "MontserratBold";
  text-shadow: 0 clamp(0.1rem, 0.5dvh, 2rem) clamp(0.1rem, 0.5dvh, 2rem)
    rgba(0, 0, 0, 0.25);
}

.winningLine {
  stroke-width: 1.5;
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  animation: lineDrawing 0.2s ease forwards 0.3s;
}

@keyframes lineDrawing {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes drawAnimation {
  0%,
  50%,
  100% {
    stroke-opacity: 1;
  }
  25%,
  75% {
    stroke-opacity: 0.1;
  }
}

.draw {
  animation: drawAnimation 0.8s ease;
}
