.root {
  stroke: none;
  stroke-linecap: round;
  width: clamp(1rem, 20dvw, 50rem);
  color: #fafafa;
  height: auto;
}

.darkMode line {
  stroke: #fafafa;
}

.lightMode line {
  stroke: #2c2c2c;
}

.cell {
  cursor: pointer;
}

.X {
  fill: #e53935;
}

.O {
  fill: #1e88e5;
}
