.root {
  stroke: none;
  stroke-linecap: round;
  color: #fafafa;
}

.size1 {
  width: clamp(1rem, 25dvw, 50rem);
  height: auto;
}

.size2 {
  width: clamp(1rem, 35dvw, 50rem);
  height: auto;
}

.darkMode line {
  stroke: #fafafa;
}

.lightMode line {
  stroke: #2c2c2c;
}

.cell {
  cursor: pointer;
}

.X {
  fill: #e53935;
}

.O {
  fill: #1e88e5;
}

.X,
.O {
  font-family: "MontserratBold";
  text-shadow: 0 clamp(0.1rem, 0.5dvh, 2rem) clamp(0.1rem, 0.5dvh, 2rem)
    rgba(0, 0, 0, 0.25);
}

.winningLine {
  stroke-width: 2;
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  animation: lineDrawing 0.5s forwards 0.3s;
}

@keyframes lineDrawing {
  to {
    stroke-dashoffset: 0;
  }
}
