/*Style for TicTacToe container*/
.root {
  font-family: "PermanentMarker";
  font-size: clamp(1rem, 2.5vh, 10rem);
  width: fit-content;
  height: fit-content;
}

/*Style for positioning inside parent*/
.topLeft {
  position: absolute;
  top: 1%;
  left: 1%;
}
.bottomRight {
  position: absolute;
  bottom: 1%;
  right: 1%;
}

/*Style for indenting lines*/
.indent1 {
  text-indent: clamp(1rem, 1.8vw, 10rem);
}

.indent2 {
  text-indent: clamp(2rem, 3.6vw, 10rem);
}

@media (max-width: 600px) {
  .topLeft,
  .bottomRight,
  .indent1,
  .indent2 {
    display: none;
  }
}
